.button{
    -fx-padding: 10px 20px; /* Padding around the text */
    -fx-font-size: 30px; /* Font size */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-background-radius: 5px; /* Rounded background */
}

.header-label{
    -fx-font-size: 50px; /* Font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-text-fill: #d7d7d7; /* Text color */
    -fx-padding: 20px; /* Padding around the label */
}